<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/admin-layout.html :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="admin-body">
    <nav th:replace="~{fragments/admin-layout.html :: navigation}"></nav>

    <div class="container">
        <h1>Přidat projekt</h1>
        <form method="post" th:action="@{/admin/projekty/novy}" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">Jméno projektu</label>
                <input class="form-control" id="name" type="text" th:field="${projectDto.name}"/>
                <small class="error" th:errors="${projectDto.name}"></small>
            </div>
            <div class="mb-3">
                <label class="form-label" for="desc">Popis</label>
                <textarea id="desc" type="text" th:field="${projectDto.description}"></textarea>
                <small class="error" th:errors="${projectDto.description}"></small>
            </div>
            <div class="mb-3">
                <label class="form-label" for="file">Vyberte soubor</label>
                <input class="form-control" type="file" id="photo" name="file" >
                <small th:if="${missingFile}" th:text="${missingFile}" class="error"></small>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Uložit">
                <a class="btn btn-warning" href="/admin/projekty">Zpět</a>
            </div>
        </form>

    </div>

    <footer th:replace="~{fragments/admin-layout.html :: footer}"></footer>

    <script src="/../../script/tinymce/tinymce.min.js"></script>

    <script>
        tinymce.init({
            selector: '#desc',
            license_key: 'gpl',
            width: 900,
            margin_bottom: 5,
        });
    </script>

</body>

</html>
