<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/admin-layout.html :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="admin-body">
    <nav th:replace="~{fragments/admin-layout.html :: navigation}"></nav>

    <div class="container">
        <article>
            <h1>Změna hesla</h1>
            <form method="post" th:action="@{/admin/zmena-hesla}" th:object="${passwordChangeDto}">
                <div class="mb-3">
                    <label class="form-label" for="password">Heslo</label>
                    <input class="form-control" type="password" th:field="*{password}">
                    <smal class="error" th:errors="*{password}"></small>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="confirmPassword">Potvrzení hesla</label>
                    <input class="form-control" type="password" th:field="*{confirmPassword}">
                    <small class="error" th:errors="*{confirmPassword}"></small>
                </div>
                <div class="mb-3">
                    <input class="btn btn-success" type="submit" value="Uložit">
                    <a class="btn btn-warning" th:href="@{/admin/profil}">Zpět</a>
                </div>
            </form>

        </article>

    </div>

    <footer th:replace="~{fragments/admin-layout.html :: footer}"></footer>
</body>

</html>
