<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/admin-layout.html :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="admin-body">
    <nav th:replace="~{fragments/admin-layout.html :: navigation}"></nav>

    <div class="container d-flex justify-content-center">
        <a href="/" class="text-center mt-5 text-dark fs-2">Zpět na veřejnou stránku</a>

    </div>


    <footer th:replace="~{fragments/admin-layout.html :: footer}"></footer>
    
</body>
</html>