<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/admin-layout.html :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="admin-body">
    <nav th:replace="~{fragments/admin-layout.html :: navigation}"></nav>
    <div class="bg-success text-center py-2 mb-2 text-light" th:if="${success}" th:text="${success}"></div>
    <div class="bg-danger text-center py-2 mb-2 text-light" th:if="${error}" th:text="${error}"></div>

    <div class="container">
        <h1>Fotky</h1>
        <a class="btn btn-success" th:href="@{/foto/novy}">Nová fotka</a>
        <a class="btn btn-warning" th:href="@{/album/novy}">Nové album</a>

    </div>

    <footer th:replace="~{fragments/admin-layout.html :: footer}"></footer>
    
</body>
</html>