<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav th:replace="~{fragments/layout.html :: navigation}"></nav>

    <div class="container">
        <article >
          <h1>Koncerty</h1>
          <table class="table table-warning table-striped table-hover">
            <thead>
              <tr>
                <th>Název akce</th>
                <th>Kapela</th>
                <th>Čas</th>
                <th>Odkaz</th>
              </tr>
            </thead>

            <tr th:each="concert : ${concerts}">
              <td th:text="${concert.name}"></td>
              <td th:text="${concert.band}"></td>
              <td th:text="${concert.formattedTime}"></td>
              <td><a th:href="@{concert.linkToEvent}" th:text="${concert.linkToEvent}" target="_blank"></a></td>
            </tr>

          </table>
        </article>
      </div>

    <footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>
</html>
