<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav th:replace="~{fragments/layout.html :: navigation}"></nav>

    <div>
        <article class="contact">
            <h1>Kontakt</h1>
            <div>
                <div class="contact-item">
                    <img class="my-icon" src="icons/email-icon.svg" alt="email" >
                    <div class="text-wrapper">
                        <p class="text-center"><a class="mail-link" href=""></a></p>
                    </div>
                </div>
                <div class="contact-item">
                    <img class="my-icon" src="icons/telephone-icon.svg" alt="tel">
                    <div class="text-wrapper">
                        <p></p>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    
</body>
</html>