<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout.html :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container" style="min-height: 90.5dvh;">
        <article>
            <h1>Zapomenuté heslo</h1>
            <form method="post" th:action="@{/zapomenute-heslo}" th:object="${forgottenPasswordDto}">

                <div class="mb-3">
                    <label class="form-label" for="username">Uživatelské jméno</label>
                    <input placeholder="Zde zadejte uživatelské jméno (email)" class="form-control" type="text"
                        th:field="*{username}">
                    <small class="error" th:errors="*{username}"></small>
                </div>

                <input class="btn btn-success" type="submit" value="Resetovat heslo">
                <a class="btn btn-primary" th:href="@{/login}">Zpět</a>
            </form>
        </article>
    </div>

    <footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>

</html>
