<!DOCTYPE html >
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav th:replace="~{fragments/layout.html :: navigation}"></nav>
    <div class="main-picture">
        <img
                src="pictures/vlastik_index.png"
                alt="Vlastík Šmída"
                class="title-image"
        />
    </div>
    <footer th:replace="~{fragments/layout.html :: footer}"></footer>

    
</body>
</html>