<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout.html :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav th:replace="~{fragments/layout.html :: navigation}"></nav>

    <div class="container">
        <article>
            <h1>Fotky</h1>
            <div>
                <div class="card my-card" th:each="album : ${allAlbums}">
                    <img th:src="@{${album.photos[0].url}}" th:alt="${album.photos[0].name}">
                    <div class="card-body">
                        <h5 th:text="${album.name}" class="card-title"></h5>
                        <p th:text="${album.description}" class="card-text"></p>
                        <a th:href="@{'/album/' + ${album.id}}">Detail</a>
                    </div>
                </div>
            </div>

        </article>
    </div>

    <footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>

</html>
