<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body >
    <nav th:replace="~{fragments/layout.html :: navigation}"></nav>

    <div class="container">
        <article>
            <h1 class="mb-3">Projekty</h1>
            <div th:each="project : ${projects}" class="row">
                <div class="col">
                    <h3 th:text="${project.name}" class="text-uppercase"></h3>
                    <div hidden name="source"  th:text="${project.description}"></div>
                    <div name="target"></div>

                </div>
                <div>
                    <img class="img-fluid project-picture" th:src="${'/' + project.photoUrl}" th:alt="${project.name}">
                </div>
            </div>

        </article>
    </div>

    <footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>
</html>
