<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout.html :: head}">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <nav th:replace="~{fragments/layout.html :: navigation}"></nav>

  <div class="container">
    <article>
      <h1>Videa</h1>

      <div th:each="video : ${videos}">

        <p th:text="${video.videoYoutubeId}" class="video collapse" aria-hidden="true"></p>
        <p th:text="${video.id}" class="name collapse"></p>

        <div enablejsapi th:id="${video.id}">
        </div>


    </div>
    </article>
  </div>

  <footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>

</html>
